
.reserveren-banner {
	background-image: url("../images/rift/features-bg.jpg");
}
table thead, table tfoot {
	color: #000000;
}

.reserveren-form i {
  font-size: 1.6rem;
  line-height: 3rem;
  color: #666;
}
.reserveren-form form input, .reserveren-form select {
  height: 50px;
} 