

#root{
	padding: 0;
}

#menu-top-bar {
	font-size: 0.9rem;
}

#menu-main-menu {
	text-transform: uppercase;
	font-size: 1.1rem;
}
.expanded.dark-blue {
	background-color: #00141D;
}


/* FOOTER */
#footer-container {
	background-color: #414042;
	color: #ffffff;
	text-align: center;
	margin-top: 0;
}

#footer article {
	text-align: left;
}




